@using BlacksmithWorkshopBusinessLogic.ViewModels
@model List<WarehouseViewModel>
@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Склады</h1>
</div>
<div class="text-center">
    @{
        if (Model == null)
        {
            <h3 class="display-4">Авторизируйтесь</h3>
            return;
        }
        <p>
            <a asp-action="Create">Создать склад</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Название склада
                    </th>
                    <th>
                        Фамилия ответственного
                    </th>
                    <th>
                        Дата создания
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Surname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateCreate)
                        </td>
                        <td>
                            <a asp-action="Update" asp-route-id="@item.Id" asp-route-name="@item.Name" asp-route-surname="@item.Surname">Изменить</a>
                        </td>
                        <td>
                            <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>